body {
    font-family: Arial, sans-serif;
    background-color: #42ae86;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #fae4e4;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ecc8c8;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li:nth-child(even) {
    background-color: #1f1d1d;
}

li::before {
    content: "Livro: ";
    font-weight: bold;
}

li::after {
    content: " Preço: R$";
    font-weight: bold;
}
body{
    color:rgb(63, 166, 144);
    
}